:root {
  --cor-0: #fb5;
  --cor-1: #e54;
}

html,
body,
a,
h1,
p,
h2,
li,
ul,
button {
  margin: 0;
  padding: 0;
  font-style: none;
  list-style: none;
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}
header nav {
  grid-column: 3/5;
}
.nav-menu {
  margin-top: 32px;
  display: flex;
  background: var(--cor-0);
  flex-wrap: wrap;
  padding: 10px;
}
.nav-menu a {
  display: block;
  padding: 10px;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 0.1rem;
}
img {
  display: block;
  max-width: 100%;
}
section,
.animais {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px 30px;
}
section h1,
.animais h1 {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}
.titulo {
  font-size: 96px;
  max-width: 10ch;
  line-height: 1;
  font-family: "Playfair Display SC", georgia;
  font-weight: 400;
  margin-top: 3rem;
}
.animais-fotos {
  grid-column: 2;
  max-height: 378px;
  overflow-y: scroll;
  cursor: pointer;
}
.animais-fotos::-webkit-scrollbar {
  width: 16px;
}
.animais-fotos::-webkit-scrollbar-thumb {
  background-color: var(--cor-0);
  color: var(--cor-0);
  border-left: solid #faf6ed 4px;
}
.animais-descricao {
  margin-left: -10px;
}

.animais-descricao h2 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: monospace;
  color: var(--cor-1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  gap: 12px;
  margin-bottom: 16px;
}
.animais-descricao h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: var(--cor-0);
}
.animais-descricao p {
  font-family: Helvetica, Arial;
  margin-bottom: 20px;
  max-width: 52ch;
}
#faq dl {
  grid-column: 2/-1;
}
#faq dt button {
  color: #e54;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  margin-top: 16px;
}
#faq button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: var(--cor-0);
}
#faq button::after {
  content: "⬎";
  font-weight: bold;
  position: absolute;
  right: -24px;
  top: -4px;
}
#faq dd {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 8px;
  margin-left: 28px;
  margin-bottom: 32px;
}

#contato picture {
  grid-column: 2;
}
#contato li {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
#contato li + li {
  margin-top: 16px;
}
#contato li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: var(--cor-0);
}
.footer {
  display: flex;
  background: var(--cor-0);
  grid-column: 3 / 5;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  padding: 8px;
  margin-top: 48px;
  margin-bottom: 32px;
}
.footer span {
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  font-family: monospace;
  letter-spacing: 0.05rem;
  grid-column: 1 / -1;
}

@media (max-width: 800px) {
  .titulo {
    font-size: 72px;
    line-height: 0.875;
    font-weight: 400;
    margin-top: 2rem;
  }
  .animais,
  section {
    grid-template-columns: 10px 300px 1fr;
  }
  .animais-descricao p {
    font-size: 0.875rem;
  }
}
@media (max-width: 600px) {
  .container {
    display: block;
  }
  header nav ul {
    margin-top: 0px;
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
  }
  header nav ul a {
    display: block;
  }
  .animais-descricao,
  #faq dl {
    margin: 20px;
  }
  .titulo {
    font-size: 60px;
  }
  .animais-fotos ul {
    display: flex;
    overflow-x: scroll;
  }
  .animais-fotos::-webkit-scrollbar {
    width: 0;
  }
  .titulo,
  .animais-fotos,
  #faq dl,
  #contato picture {
    grid-column: auto;
  }
  .animais-fotos img,
  #contato picture {
    max-width: 200px;
  }
  .animais,
  section,
  .footer {
    grid-template-columns: 1fr;
  }
  #contato {
    grid-template-columns: 1fr 1fr;
  }
  #contato h1 {
    grid-column: 1 / -1;
  }
  #contato picture {
    justify-self: end;
  }
  .footer {
    margin-bottom: 0px;
  }
  footer span {
    justify-self: center;
  }
}
@media (max-width: 400px) {
  header nav ul a {
    font-size: 0.725rem;
  }
  .titulo {
    font-size: 32px;
    grid-column: auto;
    margin-top: 20px;
    margin-bottom: 0;
    max-width: 20ch;
  }
  #contato {
    gap: 10px;
  }
  #contato picture {
    justify-self: start;
  }
  #faq dl {
    margin: 0 20px;
  }
}
.js .animais-descricao {
  display: none;
}
.js .animais-descricao.ativo {
  display: block !important;
}
.js .animais-descricao.ativo.show-down {
  animation: show-down 0.5s forwards;
}
.js .animais-descricao.ativo.show-right {
  animation: show-right 0.5s forwards;
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}
.js [data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}
.js #faq dt.ativo button::after {
  content: "⬏";
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}
